body {
    background: #1E1E1E;
    margin: 0;
    padding: 0;
    color: white;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Noto Serif Display', serif;
    font-size: 96px;
}

.beauty {
    background-image: url('/resources/images/hero-1.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.music {
    background-image: url('/resources/images/hero-2.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.business {
    background-image: url('/resources/images/hero-3.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
}